<div class="form-container" [formGroup]="form">
  <mat-form-field>
    <input matInput placeholder="Group" formControlName="groupName" />
  </mat-form-field>
  <div formArrayName="members">
    <div *ngFor="let member of members.controls; let i = index">
      <span [formGroupName]="i">
        <mat-form-field>
          <input matInput placeholder="Member" formControlName="memberName" />
        </mat-form-field>
      </span>
      <button mat-icon-button (click)="removeMember(i)">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </div>
    <button mat-mini-fab (click)="addMember()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
